# 🧩 Google reCAPTCHA v2 Site Key
# Consigue tu clave en: https://www.google.com/recaptcha/admin
VITE_RECAPTCHA_SITE_KEY=

# 🧠 Contentful - Variables principales (para el frontend con Vite)
VITE_CONTENTFUL_SPACE_ID=tu_space_id
VITE_CONTENTFUL_DELIVERY_TOKEN=tu_delivery_token
VITE_CONTENTFUL_ENVIRONMENT_ID=master
VITE_CONTENTFUL_BLOG_POST_TYPE=blogPage
VITE_CONTENTFUL_LOCALE=en-US
VITE_CONTENTFUL_USE_PREVIEW=false

# ⚙️ (Opcional) Variables para funciones backend (Netlify o serverless)
CONTENTFUL_SPACE_ID=tu_space_id
