# Google reCAPTCHA v2 Site Key
# Get your keys from: https://www.google.com/recaptcha/admin
VITE_RECAPTCHA_SITE_KEY=

# Contentful Content Delivery API
# Puedes usar las variables con prefijo VITE_ o los nombres por defecto de Contentful.
VITE_CONTENTFUL_SPACE_ID=
VITE_CONTENTFUL_DELIVERY_TOKEN=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
# Optional overrides
VITE_CONTENTFUL_ENVIRONMENT_ID=master
VITE_CONTENTFUL_BLOG_POST_TYPE=blogPost
VITE_CONTENTFUL_LOCALE=en-US
CONTENTFUL_ENVIRONMENT_ID=master
CONTENTFUL_BLOG_POST_TYPE=blogPost
CONTENTFUL_LOCALE=en-US
