//<--0-->// Default Color //<--0-->//

:root {
  --body: #e0e0e0;
  --white: #1e2a47;
  --cmenu: #d3d3d3;
  --title: #181818;
  --mtitle: #d3d3d3;
  --pra: #999999;
  --subtitle: #121212;
  --base: #26d1c4;
  --hover: #26d1c49e;
  --bg1: #e9f0ff;
  --ftext: #818181;
  --footer: #d3d3d3;
  --cusborder: rgb(224, 224, 224);
  --border1: #414141;
  --ratting: #ffa311;
  --bgsection: #d3d3d3;
  --success: #26d1c4;
  --danger: #ed5050;
  --boxes1: rgba(224, 224, 224, 224);
  --cborder: #d9d9d9;
}

//<--0-->// Default Color //<--0-->//
